body{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}
span{
    font-size: large;
    font-weight: 700;
}
label{
    font-size: 15px !important;
}